<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>Funciones Avanzadas</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-card class="feature-card">
		<ion-card-content>
			<div class="feature-content">
				<ion-icon [icon]="sparklesIcon" color="primary" class="feature-icon"></ion-icon>
				<div class="feature-text">
					<ion-chip color="success" class="status-chip">
						<ion-label>Activo</ion-label>
					</ion-chip>
					<h2>Ampliación de descripciones con IA</h2>
					<p>
						Amplia facilmente detalles extra de tus tareas, encuentra esta opción al momento de crear o
						editar una tarea
					</p>
				</div>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
