<ion-content [fullscreen]="true" class="ion-padding">
	<!-- Slides -->
	<swiper-container>
		<!-- Slide 1 -->
		<swiper-slide>
			<section class="slide">
				<img
					src="assets/start-pictures/create-easy-task.png"
					style="width: 180px; height: 180px"
					alt="Create Easy Task"
				/>
				<p>Crea inmediatamente tareas de tus proyectos</p>
			</section>
		</swiper-slide>

		<!-- Slide 2 -->
		<swiper-slide>
			<section class="slide">
				<img
					src="assets/start-pictures/asociate-categories.png"
					style="width: 180px; height: 180px"
					alt="Create Easy Task"
				/>
				<p>Asocia facilmente categorías a todas tus tareas</p>
			</section>
		</swiper-slide>

		<!-- Slide 3 -->
		<swiper-slide>
			<section class="slide">
				<img
					src="assets/start-pictures/watch-pending-tasks.png"
					style="width: 180px; height: 180px"
					alt="Create Easy Task"
				/>
				<p>Revisa directamente todas tus tareas pendientes</p>
			</section>
		</swiper-slide>

		<!-- Slide 3 -->
		<swiper-slide>
			<section class="slide">
				<img
					src="assets/start-pictures/advanced-features.png"
					style="width: 180px; height: 180px"
					alt="Create Easy Task"
				/>
				<p>Amplia tu productividad con funciones avanzadas</p>
			</section>
		</swiper-slide>
	</swiper-container>

	<footer class="buttons-container">
		<!-- Next button -->
		<ion-button (click)="nextSlide()" *ngIf="!isLastSlide()" fill="outline">Siguiente</ion-button>

		<!-- Start button -->
		<ion-button (click)="start()" *ngIf="isLastSlide()">Empezar</ion-button>
	</footer>
</ion-content>
