<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home"></ion-back-button>
		</ion-buttons>
		<ion-title>{{ isEdit ? "Editar tarea" : "Nueva tarea" }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="saveTask()">
				<ion-icon [icon]="checkIcon" size="large" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form [formGroup]="taskForm">
		<ion-list>
			<!-- Título -->
			<ion-item>
				<ion-label position="stacked">Título <span style="color: red">*</span></ion-label>
				<ion-input
					formControlName="title"
					placeholder="Ingrese el título de la tarea"
					maxlength="50"
				></ion-input>
			</ion-item>
			<app-error-message [message]="titleError"></app-error-message>

			<!-- Descripción -->
			<ion-item>
				<ion-label position="stacked">Descripción</ion-label>
				<ion-textarea
					formControlName="description"
					placeholder="Ingrese la descripción de la tarea"
					maxlength="200"
					[rows]="4"
					autoGrow="true"
				></ion-textarea>
			</ion-item>

			<!-- Categorías -->
			<ion-list class="categories-list">
				<ion-item lines="none">
					<ion-label position="stacked">Categorías</ion-label>
				</ion-item>
				<ion-item lines="none" class="categories-item">
					<div class="categories-container">
						<ion-chip
							*ngFor="let category of selectedCategories"
							[style.--background]="category.color"
							[style.--color]="'#fff'"
						>
							<ion-label>{{ category.name }}</ion-label>
							<ion-icon [icon]="closeIcon" color="white" (click)="removeCategory(category)"></ion-icon>
						</ion-chip>
						<ion-chip (click)="openCategoriesModal()">
							<ion-label>Agregar</ion-label>
							<ion-icon [icon]="addIcon"></ion-icon>
						</ion-chip>
					</div>
				</ion-item>
			</ion-list>
		</ion-list>
	</form>

	<!-- Modal de Categorías -->
	<ion-modal
		#categoriesModal
		[breakpoints]="[0, 0.5, 0.8]"
		[initialBreakpoint]="0.5"
		[isOpen]="isCategoriesModalOpen"
		(didDismiss)="isCategoriesModalOpen = false"
	>
		<ng-template>
			<ion-content>
				<!-- Empty state message -->
				<div
					class="empty-state ion-text-center"
					*ngIf="!availableCategories || availableCategories.length === 0"
				>
					<ion-text color="medium">
						<h4>No hay categorías creadas</h4>
						<p class="ion-text-small">
							Para crear una categoría <br />
							ve al menú principal > <ion-icon [icon]="menuIcon" size="small"></ion-icon> > Categorías
						</p>
					</ion-text>
				</div>

				<!-- Category list -->
				<ion-list *ngIf="availableCategories && availableCategories.length > 0">
					<ion-item *ngFor="let category of availableCategories" (click)="toggleCategory(category)">
						<div slot="start" class="category-color-dot" [style.background-color]="category.color"></div>
						<ion-label>{{ category.name }}</ion-label>
						<ion-icon
							*ngIf="isCategorySelected(category)"
							[icon]="checkIcon"
							color="primary"
							slot="end"
						></ion-icon>
					</ion-item>
				</ion-list>
			</ion-content>
		</ng-template>
	</ion-modal>
</ion-content>

<!-- Bottom FAB for delete task -->
<ion-fab vertical="bottom" horizontal="center" slot="fixed" style="margin-bottom: 32px" *ngIf="isEdit">
	<ion-fab-button color="light" (click)="deleteTask()">
		<ion-icon [icon]="trashIcon" color="danger"></ion-icon>
	</ion-fab-button>
</ion-fab>
