.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 16px;

  ion-text {
    h4 {
      margin-top: 70px;
      font-weight: 500;
      font-size: 18px;
      color: #303030;
    }

    p {
      color: var(--ion-color-medium);
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

.status-chip-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.icon-only-chip {
  width: 40px;
  height: 32px;
  padding: 0;

  ion-icon {
    margin-left: 10px;
  }
}

.description-container {
	position: relative;
	width: 100%;
}

.typing-indicator {
	position: absolute;
	right: 8px;
	bottom: 8px;
}

.dot {
	width: 8px;
	height: 8px;
	background-color: #9932cc;
	border-radius: 50%;
	animation: blink 1s infinite;
}

@keyframes blink {
	0% { opacity: 0.2; }
	50% { opacity: 1; }
	100% { opacity: 0.2; }
}
