.compact-menu {
    --padding-start: 8px;
    --padding-end: 8px;
    
    .menu-item {
      --padding-start: 8px;
      --padding-end: 8px;
      --min-height: 40px;
      
      ion-icon {
        font-size: 18px;
        margin-right: 14px;
        margin-left: 10px;
      }
      
      ion-label {
        font-size: 14px;
        color: #494949;
        margin: 0;
      }
    }
  }
  
  .menu-popover {
    --width: auto;
    --min-width: 250px;
    
    ::ng-deep .popover-content {
      --ion-item-background: var(--ion-color-light);
    }
  }
  