<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start"> <ion-back-button defaultHref="/home"></ion-back-button> </ion-buttons>
		<ion-title>Categorías</ion-title>

		<!-- Add new category -->
		<ion-buttons slot="end">
			<ion-button (click)="navigateToNewCategory()">
				<ion-icon [icon]="addIcon" size="large" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- Empty state message -->
	<div class="empty-state" *ngIf="!categories || categories.length === 0">
		<ion-img src="assets/empty-view/empty-view.png" class="empty-state-image"></ion-img>
		<ion-text color="medium">
			<h2>No hay categorías</h2>
			<p>Cuando crees una categoría, aparecerá aquí</p>
		</ion-text>
	</div>

	<!-- Category list -->
	<ion-list *ngIf="categories && categories.length > 0">
		<ion-item-group>
			<ion-item *ngFor="let category of categories; let i = index" (click)="navigateToEditCategory(category)">
				<div class="category-circle" [ngStyle]="{ 'background-color': category.color }"></div>
				<ion-label>{{ category.name }}</ion-label>
			</ion-item>
		</ion-item-group>
	</ion-list>
</ion-content>
