<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/categories"></ion-back-button>
		</ion-buttons>
		<ion-title>{{ isEdit ? "Editar Categoría" : "Nueva Categoría" }}</ion-title>

		<!-- Save categoy -->
		<ion-buttons slot="end">
			<ion-button (click)="saveCategory()">
				<ion-label color="primary">Guardar</ion-label>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form [formGroup]="categoryForm">
		<ion-list>
			<!-- Name -->
			<ion-item>
				<ion-label position="stacked">Nombre</ion-label>
				<ion-input
					formControlName="name"
					placeholder="Ingrese el nombre de la categoría"
					maxlength="30"
				></ion-input>
			</ion-item>
			<app-error-message [message]="titleError"></app-error-message>

			<!-- Color -->
			<ion-item>
				<ion-label position="stacked">Color</ion-label>
				<div class="color-grid">
					<div
						*ngFor="let color of colors"
						class="color-circle"
						[style.background-color]="color"
						[class.selected]="selectedColor === color"
						(click)="selectColor(color)"
					></div>
				</div>
			</ion-item>
			<app-error-message [message]="colorError"></app-error-message>
		</ion-list>
	</form>
</ion-content>

<!-- Boton for delete -->
<ion-fab vertical="bottom" horizontal="center" slot="fixed" style="margin-bottom: 32px" *ngIf="isEdit">
	<ion-fab-button color="light" (click)="deleteCategory()">
		<ion-icon [icon]="trashIcon" color="danger"></ion-icon>
	</ion-fab-button>
</ion-fab>
