<ion-header>
	<ion-toolbar>
		<ion-title>Tareas</ion-title>
		<ion-buttons slot="end">
			<ion-button id="menu-trigger">
				<ion-icon [icon]="menuIcon"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-popover trigger="menu-trigger" [dismissOnSelect]="true" class="menu-popover">
			<ng-template>
				<app-menu-options></app-menu-options>
			</ng-template>
		</ion-popover>
	</ion-toolbar>
</ion-header>

<ion-content>
	<app-task-list></app-task-list>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="navigateToTaskDetail()">
			<ion-icon [icon]="addIcon"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
