<ion-header>
	<ion-toolbar>
		<ion-title>Tareas</ion-title>
		<ion-buttons slot="end">
			<ion-button id="menu-trigger">
				<ion-icon [icon]="menuIcon"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-popover trigger="menu-trigger" [dismissOnSelect]="true" class="menu-popover">
			<ng-template>
				<ion-list lines="none" class="compact-menu">
					<ion-item button detail="false" (click)="onAdvancedFeatures()" class="menu-item">
						<ion-icon [icon]="starIcon" slot="start" class="menu-icon"></ion-icon>
						<ion-label>Funciones avanzadas</ion-label>
					</ion-item>
					<ion-item button detail="false" (click)="onCategories()" class="menu-item">
						<ion-icon [icon]="tagIcon" slot="start" class="menu-icon"></ion-icon>
						<ion-label>Categorías</ion-label>
					</ion-item>
				</ion-list>
			</ng-template>
		</ion-popover>
	</ion-toolbar>
</ion-header>

<ion-content>
	<app-task-list></app-task-list>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="navigateToTaskDetail()">
			<ion-icon [icon]="addIcon"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
